html {
	font-family: "Noto Sans", sans-serif;
}

.todo-list {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 20px;
	margin: 10px 0;
	max-width: 500px;
}

.todo-tools{
	display:flex;
	margin:0px 0px 18px 0px;
}

.todo-tools .filters{
	flex:1
}

.todo-tools .filters a{
	display:inline-block;
	margin:0px 10px 0px 0px;
	font-size:14px;
	color:#03A9F4;
	cursor:pointer;
}

.todo-tools .remove-all-completed{
	display:inline-block;
	font-size:14px;
	color:#F44336;
	cursor:pointer;
}

.todo-tools a.active{
	text-decoration:underline;
}

.todo-list-item {
	display: flex;
	padding: 10px;
}

.todo-list-item.hide{
	display: none;
}

.todo-list-item + .todo-list-item {
	border-top: 1px solid #ddd;
}

.todo-list-item .todo-item-container {
	flex: 1 1 0;
}

.todo-list-item .remove-button {
	flex: 0 0 auto;
}

.todo-item{
	display:flex;
	align-items:center;
}

.todo-item .text{
	display: block;
	flex: 1;
	box-sizing: border-box;
	margin: 0px 10px 0px 3px;
	height: 25px;
	line-height: 25px;
	border: 1px solid transparent;
}

.todo-item .text:hover{
	border: 1px solid #ddd;
}

.todo-item .text input{
	border: 0px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 25px;
}

.confirm{
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.confirm .modal{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.75)
}

.confirm .confirmContent{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#fff;
	box-shadow:1px 1px 2px 0px rgba(0,0,0,0.4);
	padding:15px;
	border-radius:3px;
	text-align:center;
}

.confirm .message{
	font-size:18px;
	display:block;
	color:#555;
	margin:0px 0px 15px 0px;
}

.confirm button{
	color:#fff;
	border:0px;
	padding:6px 15px;
	border-radius:2px;
	margin:0px 5px;
}

.confirm .cancelButton{
	background-color:#4CAF50;
}

.confirm .removeButton{
	background-color:#F44336;
}

.confirm .closeX{
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	top:-8px;
	right:-8px;
	background-color:#555;
	border-radius:50%;
}

.confirm .closeX:before,
.confirm .closeX:after{
	content:"";
	width:2px;
	height:10px;
	background-color:#fff;
	display:block;
	position:absolute;
	top:calc(50% - 5px);
	left:calc(50% - 1px);
}

.confirm .closeX:before{
	transform:rotate(45deg);
}
.confirm .closeX:after{
	transform:rotate(-45deg);
}